# Ren'Py Compiled files
*.rpyc
*.rpymc

# Ren'Py Save data and logs
saves/
log.txt
traceback.txt
image_cache/
errors.txt

# Web Build output (we don't want the raw build in the repo)
web-build/
game/cache/bytecode-312.rpyb
game/cache/py3analysis.rpyb
game/cache/screens.rpyb
game/cache/shaders.txt
